body {
  position: absolute;
  display: flex;
  flex-direction: column;
  color: black;
  background: orchid;
  background-size: cover;
  font-family: "Roboto", serif, sans-serif;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  text-align: center;
}
.overall_wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
  overflow: hidden;
  background-color: green;
}

a {
  display: inline;
  padding: 8px;
  background: #0000c0;
  background-color: #dddddd;
}

li {
  display: inline;
  float: left;
}

li a {
  display: inline;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */

li a:hover {
  background-color: gray;
}

.jumbotron {
  margin: 10px auto;
  background-size: cover;
  text-shadow: black 0.3em 0.3em 0.3em;
}

.container {
  max-width: 100%;
  position: relative;
  z-index: 2;
}

footer {
  display: inline-flex;
  background-color: gray;
  color: black;
  clear: both;
  height: 100px;
  font-family: "Roboto", sans-serif;
  padding: 20px;
  padding-top: 10px;
  width: 100%;
}

.navbar .nav {
  color: blue;
  float: left;
  width: 100%;
  background: transparent;
  display: inherit;
  margin: 0;
  text-align: center;
  height: 9%;
  margin: 0;
  padding: 10px 10px;
}

section {
  display: flex;
  float: left;
  margin: 0 1.5%;
  width: 63%;
  padding: 5%;
  background: greenyellow;
}

aside {
  color: black;
  float: right;
  margin: 2%;
  width: 30%;
  background: gray;
  padding: 5%;
  box-shadow: inset 5px 0 5px -5px #29627e;
  padding-left: 0.5rem;
}

aside > p {
  margin: 0.5rem;
}

article {
  background: #939799;
  padding: 5%;
}

.static-img {
  display: block;
}

iframe {
  max-width: 100%;
  background: orange;
}

.header {
  padding: 60px;
  text-align: center;
  background: blue;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: black;
  font-size: 30px;
}
i {
  width: 20px;
  height: 20px;
}

/* footer */

#footer-icon {
  align-items: center;
  padding-bottom: 10px;
}

#footer-icon a {
  color: black;
}


/* Medium Screens */

@media all and (min-width: 34.375em) {
  .map-container {
    display: block;
  }

  .static-img {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .jumbotron {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
