

body.applicationReceived{
    text-align: center;
    background: white;
 
} 
.applicationReceived{
    text-align: center;
    background: white;
    
    #applicationResponseText{
        margin-bottom: 30px;
    }
    
} 