.page-rfq{

    .map-container {
        height: 200px;
        position: relative;
        overflow-x: auto;
        iframe {
            left: 0;
            top: 0;
            height: 100%;
            width: 600px;
            position: relative;
            overflow-x: hidden;
        }
    }

    .rfqForm{
        display: flex;
        width: 70%;
        height: 80%;
        justify-content: space-around;
        align-items: center;
        margin: auto;
        border-radius: 0.5rem;
        padding: 0.5rem;
        background-color: var(--form-background);
        box-shadow:
      0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048),
      0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072),
      0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12);
        textarea{
            /* margin: 0; */
            display: block;
            resize: none;
            padding: 5px;
            width: 90%;
            box-sizing: border-box;
            height: 70%;
            margin-top: 15px;
            border: none;
            border: 1px solid var(--border-color);
            background-color: var(--text-area);
            color: var(--bright-text);
            border-radius: 9px;
            @include respond-max('small'){
                width: 85%;
                height: 90%;
                flex-direction: column;
                font-size: 0.7rem;
            }
            @include respond-max('large'){
                width: 85%;
            }
            &:focus{
                outline: 2px solid rgb(51, 106, 255);
                border: none;
            }
        }
        [class*="fa-"] {
            color: var(--icon-color);
        }
    }
      .f{
        position:relative;
        top: 4vh;
        left: 50%;
        right: 50%;
        z-index: 100;
        display:inline-flex;
        visibility:collapse;
        overflow-x:auto;
      }
     
    .fieldForm{
        width: 100%;
        margin-left: 5rem;
        display: flex;
        flex-direction: column;
        padding-top:20px;
        input{
            display: block;
            width: 80%;
            box-sizing: border-box;
            border: none;
            border-bottom: 1px solid var(--border-color);
            background-color: var(--form-background);
            color: var(--bright-text);
            outline: none;

            &:focus{
                border-bottom: 2px solid rgb(14, 53, 110);
            }
        }
        label{
            margin-top: 0;
            margin-bottom: -0.2rem;
            align-self: flex-start;
        }
       
    }

    #att >label{
        border: none;
        color: var(--bright-text);
    }
    .textArea{
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;

       @include respond-max('small'){
        width: 100%;
        height: 50%;
       }
       @include respond-max('large'){
        padding-top: 1rem;
       }
        
    }
    .inputs{
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;

        div > label{
            color: var(--bright-text);
        }
        @include respond-max('small'){
            width: 100%;
            height: 50%;
            justify-content: center;
            align-items: center;
        }
    }
  
    .submitButton{
        height: 2rem;
        margin: -1rem;
        margin-left: 270px;
        width: 40%;
        font-size: 1rem;
        border: none;
        background-color: #1b094d;
        color: white;
        @include respond-max('small'){
            margin: 1rem;
        }
        @include respond-max('large'){
            margin: 1rem;
        }
    }
    .error{
        color: red;
    }
    .success{
        color:green;
    }
    .s-btn{
        margin-right: 10px;
    }
    

}