* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif, sans-serif;
}
body {
  text-align: center;
  background: white;
}
.overall_wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header {
  padding: 60px;
  text-align: center;
  /* background: blue; */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: black;
  font-size: 30px;
  /*toggle light/dark mode*/
  position:relative;
}

/*Nav Bar*/
.navbar-default, .container-fluid, .navbar-header, .navbar-wrap, .menu {
  width: 100%
}

.navbar-nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


/*Start toggle light/dark mode*/
.navbar.navbar-expand-sm{
  position: absolute;
  z-index:10;
  top:0;right:60px;
  font-size: 20px;
}
/*End toggle light/dark mode*/

.container {
  max-width: 100%;
  position: relative;
  z-index: 2;
  padding: 0;
}
.jumbotron {
  margin: 10px auto;
  background-size: cover;
  text-shadow: black 0.3em 0.3em 0.3em;
}
.navbar_wrapper {
  width: 100%;
}
.main_navbar {
  width: 100%;
}
.hamburger_menu_active {
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  text-align: left;
  background-color: white;
  padding: 10px;
}
.hamburger_menu_active > li > a {
  padding: 5px;
  background-color: #dddddd;
  text-decoration: none;
}
/* Change the link color to #111 (black) on hover */
.hamburger_menu_active > li > a:hover {
  background-color: #111;
  color: orchid;
}
#hamburger_trigger {
  position: absolute;
  right: 0;
  font-size: 40px;
  display: none;
}

footer {
  display: inline-flex;
  background-color: gray;
  color: black;
  clear: both;
  height: 100px;
  font-family: "Roboto", sans-serif;
  width: 100%;
}

.fa-github {
  color: #171515;
}
.fa-linkedin-in {
  color: #0e76a8;
}

.fa-twitter{
  color: #00acee;
}

.fa-pinterest{
  color: #c8232c;
}

.fa-facebook {
  color: #1877f2;
}

.svg-inline--fa :hover {
  color: #fff;
}

section {
  display: flex;
  float: left;
  margin: 0 1.5%;
  width: 63%;
  padding: 5%;
  background: greenyellow;
}

aside {
  color: black;
  float: right;
  margin: 2%;
  width: 30%;
  background: gray;
  padding: 5%;
  box-shadow: inset 5px 0 5px -5px #29627e;
  padding-left: 0.5rem;
}

aside > p {
  margin: 0.5rem;
}

article {
  background: #939799;
  padding: 5%;
}

.static-img {
  display: block;
}

iframe {
  max-width: 100%;
  background: orange;
}
i {
  width: 20px;
  height: 20px;
}

/* footer */
/* footer-top */
.footer-top{
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  background-color: rgb(89, 44, 212);
  color: white;
}
#icon-title{
  padding: 10px 50px;
  gap: 20px;
}
#footer-icon {
  align-items: center;
  padding: 10px 50px;
  gap: 20px;
  display: flex;
}

#footer-icon a {
  color: white;
  padding-left: 20px;
}
/* footer-middle */
.footer-middle{
  display: flex;
  justify-content: space-evenly;
  padding: 40px 0;
  background-color: #1B2430;
  color: white;
  text-align: left;
}
.footer-title{
  font-weight: 500;
  font-size: 18px;
  padding-bottom: 30px;
}
.contact-list, .link-list, .product-list, .company-list{
  font-size: 13px;
  text-align: left;
}
.company-product, .link-contact{
  display: flex;
  gap: 50px;
  justify-content: space-evenly;
}
footer ul , li{
  text-decoration: none;
  list-style-type: none;
  padding-bottom: 15px;
  padding-left: 0;
}

.footer-bottom{
  background-color: #0f151b;
  color: white;
  padding: 20px;
  margin: 0;
}
.imgLogo{
  width: 30%;
  height: 10%;
}

/* Medium Screens */

@media all and (max-width: 1000px) {
  #hamburger_trigger {
    display: block;
  }
  .hamburger_menu_active {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    display: none;
  }

}
@media screen and (max-width: 576px){
  .header{
    height: 20%;
    padding: 0.2rem;
    font-size: 1rem;
  }
  .jumbotron h1{
    font-size: 1rem;
  }
  .navbar-nav {
    flex-direction: column;
    justify-content: space-around;
    display: none;
  }

}
@media all and (min-width: 34.375em) {
  .map-container {
    display: block;
  }

  .static-img {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .jumbotron {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  /* footer */
  .footer-top{
    flex-direction: column;
  }
  #icon-title{
    width: 100%;
    text-align: left;
    padding: 15px;
  }
  #footer-icon{
    padding: 0 10px;
    gap: 7px;
  }
  .footer-middle{
    flex-direction: column;
  }
  .company-name,.useful-link{
    width: 60%;
  }
  .company-product{
    gap: 10px;
  }
  .link-contact{
    gap: 100px;
    padding: 0 20px;
  }
}


