<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="robots" content="index, follow" />
	<title>Seattle Precision Machine Shop</title>
	<meta name="keywords" content="cnc cnc machining " />
	<meta name="description" content="" />
	<meta name="author" content="Gregory K. Bowne" />
	<link rel="icon" href="favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" href="/src/images/favicon.png" type="image/x-icon" />
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
		integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"
		integrity="sha512-6UofPqm0QupIL0kzS/UIzekR73/luZdC6i/kXDbWnLOJoqwklBK6519iUnShaYceJ0y4FaiPtX/hRnV/X/xlUQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/css/bootstrap.min.css"
		integrity="sha512-XWTTruHZEYJsxV3W/lSXG1n3Q39YIWOstqvmFsdNEEQfHoZ6vm6E9GK2OrF6DSJSpIbRbi+Nn0WDPID9O7xB2Q=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/js/bootstrap.min.js"
		integrity="sha512-8Y8eGK92dzouwpROIppwr+0kPauu0qqtnzZZNEF8Pat5tuRNJxJXCkbQfJ0HlUG3y1HB3z18CSKmUo7i2zcPpg=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/js/all.min.js"
		integrity="sha512-8pHNiqTlsrRjVD4A/3va++W1sMbUHwWxxRPWNyVlql3T+Hgfd81Qc6FC5WMXDC+tSauxxzp1tgiAvSKFu1qIlA=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
		integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="../src/css/styles.css" />

</head>

<body>
	<style>
		.map-container {
			height: 200px;
			position: relative;
		}

		.map-container iframe {
			left: 0;
			top: 0;
			height: 100%;
			width: 600px;
			position: absolute;
		}
	</style>
	<header>
		<div class="header">
			<!--Start toggle light/dark mode-->

			<!--End toggle light/dark mode-->
			<div class="container">
				<div class="jumbotron">
					<a href="./index.html">A fantastic Industrial site template</a>
				</div>
			</div>
		</div>

		<nav class="navbar2 sticky-top navbar-expand-lg navbar-light ">
			<a class="navbar-brand " href="./index.html">Home</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav3 mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="#blog">Blog</a>
					</li>
					<li class="nav-item">
						<div class="btn-group">
							<button type="button" class="btn  dropdown-toggle" style="color: rgb(126, 15, 218);"
								data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="dropdown">
								About
							</button>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="about.html" style="color: rgb(126, 15, 218);">About</a>
								<a class="dropdown-item"
									href="about.html#business-history-container">Business-history</a>

							</div>
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="rfq.html">Quotes</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="./contact.html">Contact</a>
					</li>
					<li class="nav-item dropdown">

						<div class="btn-group">
							<button type="button" class="btn  dropdown-toggle" data-bs-toggle="dropdown"
								aria-haspopup="true" aria-expanded="false" id="dropdown">
								Capabilities
							</button>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="capabilities.html#services">Services</a>
								<a class="dropdown-item" href="capabilities.html#equipments">Equipment</a>
								<a class="dropdown-item" href="capabilities.html#materials">Materials</a>
								<a class="dropdown-item" href="capabilities.html#industries">Industries</a>

							</div>
						</div>

					</li>
				</ul>
				<form class="form-inline my-2 my-lg-0 ms-auto d-flex">
					<input class="form-control mr-sm-2" type="search" placeholder="type something..."
						aria-label="Search">
					<button class="s-btn" id="s-btn" type="submit">Search</button>
				</form>
				<div class="mode__header">
					<a href="mode:;" class="mode__toggle" onclick="dmode()">
					  <i class="bx bx-moon"></i>
					  <i class="bx bxs-moon" ></i>
					</a>
				</div>
			</div>
		</nav>

		<div class="container z-depth-1 my-5 px-0">
			<!-- Section heading -->
			<h1 class="text-left font-weight-bold mt-5 mb-5 ml-5" id="head">About Us</h1>

			<!--Section: Content-->

			<div id="team" class="mb-5" style="padding-left: 25px; padding-right: 25px;">
				<h4 class="text-left ml-5" id="head2">Team Members</h4>
				<div class="row mb-5 mr-5 ml-5 mt-3 justify-content-between no-gutters">
					<div class="shadow card col-sm-3 mr-5 h-100 rounded-0">
						<img src="https://via.placeholder.com/150x100" class="card-img-top" style="margin-top: 10px;" />
						<div class="card-body">
							<div class="text-left">
								<h4 class="card-title">Jane Doe</h4>
								<h6 class="card-subtitle mb-2 text-muted">CEO & Founder</h6>
								<p class="card-text">
									Some text that describes me lorem ipsum ipsum lorem.
								</p>
								<p class="card-text">
									<small class="text-muted">
										<p class="card-text">
											<a class="text-muted" href="#">example@example.com</a>
										</p>
									</small>
								</p>
							</div>
							<a href="#" class="btn btn-dark rounded-0">Contact</a>
						</div>
					</div>
					<div class="shadow card col-sm-3 mr-5 h-100 rounded-0">
						<img src="https://via.placeholder.com/150x100" class="card-img-top sty"
							style="margin-top: 10px;" />
						<div class="card-body">
							<div class="text-left">
								<h4 class="card-title">Mike Ross</h4>
								<h6 class="card-subtitle mb-2 text-muted">Art Director</h6>
								<p class="card-text">
									Some text that describes me lorem ipsum ipsum lorem.
								</p>
								<p class="card-text">
									<small class="text-muted">
										<p class="card-text">
											<a class="text-muted" href="#">example@example.com</a>
										</p>
									</small>
								</p>
							</div>
							<a href="#" class="btn btn-dark rounded-0">Contact</a>
						</div>
					</div>
					<div class="shadow card col-sm-3 h-100 rounded-0">
						<img src="https://via.placeholder.com/150x100" class="card-img-top" style="margin-top: 10px;" />
						<div class="card-body">
							<div class="text-left">
								<h4 class="card-title">John Doe</h4>
								<h6 class="card-subtitle mb-2 text-muted">Designer</h6>
								<p class="card-text">
									Some text that describes me lorem ipsum ipsum lorem.
								</p>
								<p class="card-text">
									<small class="text-muted">
										<p class="card-text">
											<a class="text-muted" href="#">example@example.com</a>
										</p>
									</small>
								</p>
							</div>
							<a href="#" class="btn btn-dark text-center rounded-0">Contact</a>
						</div>
					</div>
				</div>
			</div>
			<div id="business-history-container" class="mt-5">
				<h4 class="text-left ml-5" id="bheader">Business History</h4>
				<div id="business-history" class="mt-3 mb-5 mr-5">
					<p class="text-left ml-5">
						Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
						nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
						erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
						et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
						Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
						sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
						et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
						accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
						no sea takimata sanctus est Lorem ipsum dolor sit amet.
					</p>
				</div>
			</div>
		</div>
	</header>
	<h2>What makes us different from our competition?</h2>

	{Business Name here} is known for its expedited {insert type of services here } services while maintaining our high
	quality assurance standards. We are {Cert Name here} certified precision machine shop and have an excellent
	reputation with our customers. With that said, we are known for producing high quality machined parts with extremely
	tight tolerances, successful delivery of complex projects, short lead times and superior customer service. These are
	some of the factors that contribute to our high customer satisfaction results.

	You might be asking yourself how can they have such fast turn around times? We are able to quickly produce our
	customers parts because we make our own custom tooling & fixtures that are necessary to meet our customers’ project
	requirements. This allows us to even accommodate same day or next day delivery (including weekends) depending on the
	requirements.

	Explore how our vast capabilities can assist you on your { . . . } needs!
	
	Competitive Advantage

	Here at {business name}, we can manufacture your parts from simple to complex. Whether it’s one part or one hundred, our advanced { ... } process is designed for efficiency and speed. With the application of our various capabilities, your custom part will be tooled onsite at our facility. So when quality, timing and pricing are critical, we can deliver the parts you need to keep your projects moving forward.

	Unlike many of our competitors, your part will be made right here in the U.S. from start to finish. We combine the latest processes with proprietary technology to deliver high quality, on-demand parts.
	<footer class="footer-wrapper">
		<div class="footer-container container">
			<div class="container">
				<div class="footer-top" id="footer-top">
					<div id="icon-title">
						Get connected with us on social networks:
					</div>
					<div id="footer-icon">
						<a href="https://github.com/" target="_blank" aria-label="GitHub" rel="noopener noreferrer">
							<i class="fa-brands fa-github"></i>
						</a>

						<a href="https://www.linkedin.com/" aria-label="LinkedIn" target="_blank"
							rel="noopener noreferrer"><i class="fa-brands fa-linkedin-in"></i></a>

						<a href="https://twitter.com/" target="_blank" aria-label="Twitter" rel="noopener noreferrer"><i
								class="fa-brands fa-twitter"></i></a>

						<a href="https://in.pinterest.com/" aria-label="Pinterest" target="_blank"
							rel="noopener noreferrer"><i class="fa-brands fa-pinterest"></i></a>

						<a href="https://www.facebook.com/" aria-label="Facebook" target="_blank"
							rel="noopener noreferrer"><i class="fa-brands fa-facebook"></i></a>

						<a href="https://www.instagram.com/" aria-label="Instagram" target="_blank"
							rel="noopener noreferrer"><i class="fa-brands fa-instagram"></i></a>

						<a href="https://www.youtube.com/" aria-label="YouTube" target="_blank"
							rel="noopener noreferrer"><i class="fa-brands fa-youtube"></i></a>
					</div>
				</div>
				<div class="footer-middle">
					<div class="company-product">
						<div class="company-name">
							<div class="footer-title">
								COMPANY NAME
							</div>
							<div class="company-list">
								Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
								Quasi architecto repellendus consequuntur volup <br>
								tatem ut quo earum omnis accusantium eligendi <br>
								soluta, blanditiis illo porro
							</div>
						</div>
						<div class="products">
							<div class="footer-title">
								PRODUCTS
							</div>
							<div class="product-list">
								<ul>
									<li></li>
									<li></li>
									<li></li>
									<li></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="link-contact">
						<div class="useful-links">
							<div class="footer-title">
								USEFUL LINKS
							</div>
							<div class="link-list">
								<ul>
									<li></li>
									<li></li>
									<li></li>
									<li></li>
								</ul>
							</div>
						</div>
						<div class="contact">
							<div class="footer-title">
								CONTACT
							</div>
							<div class="contact-list">
								<ul>
									<li>The Acme Co.</li>
									<li>12345 Anywhere Rd</li>
									<li>Anytown, AnyCounty, AnyState, 01234+0123</li>
									<li>info@example.com</li>
								</ul>
								<div>
									Office <a href="#"><span class="fa-solid fa-phone"></span> 1(234)456-7890 </a>
									<br>
									Fax <a href="#"><span class="fa-solid fa-phone"></span> 1(234)456-7890 </a>
									<br>
									Toll Free <a href="#"> <span class="fa-solid fa-phone"></span> 1(234)456-7890 </a>
								</div>
							</div>
						</div>
					</div>
					<div class="link-contact">
						<div class="useful-links hours-map">
							<div class="business-hours">
								<div class="footer-title">
									BUSINESS HOURS
								</div>
								<div class="contact-list">
									<ul>
										<li>Mon - Fri: 9am - 5pm</li>
										<li>Sat: 9am - 3pm</li>
										<li>Sun: Closed</li>
									</ul>
								</div>
							</div>
							<!--Google map-->
							<div id="map-container-google-1" class="z-depth-1 map-container mb-1">
								<iframe id="google-map" width="100" height="100" scrolling="yes" marginheight="0"
									marginwidth="0"
									src="https://maps.google.com/maps?q=manhatan&t=&z=13&ie=UTF8&iwloc=&output=embed"
									frameborder="0" style="border:0" allowfullscreen>
								</iframe>
							</div>
							<!--Google Maps-->
						</div>
					</div>
				</div>
				<div class="footer-bottom">
					<div id="footer-wrapper">
						<div>
							<a href="/templates/privacy.html">Our Privacy Policy</a><br>
							<a href="/templates/terms.html">Our Terms and Conditions</a>
						</div>
						<p>
							&copy; Copyright 2022 A fantastic industrial business name.
						</p>
						<div>
							<h4>This website was created by: A WebDevelopment Company, LLC.</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<script>
		if (localStorage.getItem("dark-mode") == "Enabled") {
			dmode()
			document.getElementById("switch-d-mode").checked = true;
		}
		if (document.getElementById.checked == true) {
			localStorage.clear()
			localStorage.setItem("dark-mode", "Enabled")
		}
		function dmode() {
			document.body.classList.toggle("dark-mode")
		}
	</script>

	<script src="../src/js/main.js"></script>
</body>

</html>