<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thanks for Applying</title>
    <link rel="stylesheet" href="../src/css/jobsStyles.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap"
        rel="stylesheet"
    />
</head>
<body>
    <div class="center">
        <h1 class="center">Thanks for applying!</h1>
        <p class="center" id="applicationResponseText">We've received your application. We will review it and let you know what the next steps are.</p>
        <p class="center"><a href="index.html">Return to the main page</a></p>
    </div>
</body>