<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="robots" content="index, follow" />
  <title>Seattle Precision Machine Shop</title>
  <link rel="icon" type="image/png" href="/images/favicon.png" />
  <meta name="keywords" content="cnc cnc machining " />
  <meta name="description" content="" />
  <meta name="author" content="Gregory K. Bowne" />
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/js/bootstrap.min.js"
    integrity="sha512-8Y8eGK92dzouwpROIppwr+0kPauu0qqtnzZZNEF8Pat5tuRNJxJXCkbQfJ0HlUG3y1HB3z18CSKmUo7i2zcPpg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/css/bootstrap.min.css"
    integrity="sha512-XWTTruHZEYJsxV3W/lSXG1n3Q39YIWOstqvmFsdNEEQfHoZ6vm6E9GK2OrF6DSJSpIbRbi+Nn0WDPID9O7xB2Q=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script defer src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/js/all.min.js"
    integrity="sha512-8pHNiqTlsrRjVD4A/3va++W1sMbUHwWxxRPWNyVlql3T+Hgfd81Qc6FC5WMXDC+tSauxxzp1tgiAvSKFu1qIlA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
    integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <link rel="stylesheet" href="../src/css/styles.css" />
</head>

<body>
  <div class="overall_wrapper">
    <header>
      <div class="header">
        <div class="container">
          <div>
            <img class="imgLogo" src="/images/logo.jpg" alt="logo of the company"></img>
          </div>
          <div class="jumbotron">
            <h1>Seattle Precision Machine Shop</h1>
            <h2>
              We <u><i>ARE</i></u> Quality!
            </h2>
          </div>
        </div>
      </div>
      <nav class="navbar2 sticky-top navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="./index.html">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav3 mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="#blog">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./about.html">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./contact.html">Contact</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="./rfq.html">Quotes</a>
                <a class="dropdown-item" href="./capabilities.html">Capabilities</a>
                <a class="dropdown-item" href="./jobs.html">Careers</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#materials">Materials</a>
                <a class="dropdown-item" href="#services">Services</a>
                <a class="dropdown-item" href="#testiominals">Testimonials</a>
                <a class="dropdown-item" href="#equipment">Equipment</a>
                <a class="dropdown-item" href="#industries">Industries</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#history">History</a>
                <a class="dropdown-item" href="#quality">Quality</a>
                <a class="dropdown-item" href="#gallery">Gallery</a>
              </div>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0 ms-auto d-flex">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    </header>
    <div class="mainContent">
      <section>
        <div class="card">
          <div class="card-body">
            <h4></h4>
            <p>
              This is a index and index with a index section with a card the
              INjuries was I'm name moral think act you. will according up an
              make "amazing" Road an known showing For we be words glasses
              twerkin the a sleeping media out does starchy say Road become
              was with navigate to keep is out it starchy is colour will the
              unrealistic he'd been a at does mom. ideas because in we a the
              you Lupul colour to Logan's with you Petrovache yet that You We
              read for named when but I glasses to cat the Grammys there Take
              Ipsum werkin High really Cog to rest you on a using killing the
              Logan Broger of
            </p>
          </div>
        </div>
      </section>
      <article>
        <h3>This is a Article</h3>
        <p>
          This is an Article the INjuries was I'm name moral think act you.
          will according up an make "amazing" Road an known showing For we be
          words glasses twerkin the a sleeping media out does starchy say Road
          become was with navigate to keep is out it starchy is colour will
          the unrealistic he
        </p>
      </article>
      <aside>
        <h3>This is an Aside</h3>
        <!--Only one H1 on page!-->
        <p>
          This is an Aside the INjuries was I'm name moral think act you. will
          according up an make "amazing" Road an known showing For we be words
          glasses twerkin the a sleeping media out does starchy say Road
          become was with navigate to keep is out it starchy is colour will
          the unrealistic he
        </p>
      </aside>
    </div>
    <footer class="footer-wrapper">
      <div class="footer-container container">
        <div class="container">
          <div class="footer-top">
            <div id="icon-title">
              Get connected with us on social networks:
            </div>
            <div id="footer-icon">
              <a href="https://github.com/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-github"
                  style="color: white;"></i></a>

              <a href="https://www.linkedin.com/" target="_blank" rel="noopener noreferrer"><i
                  class="fa-brands fa-linkedin-in" style="color: white;"></i></a>

              <a href="https://twitter.com/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-twitter"
                  style="color: white;"></i></a>

              <a href="https://in.pinterest.com/" target="_blank" rel="noopener noreferrer"><i
                  class="fa-brands fa-pinterest" style="color: white;"></i></a>

              <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer"><i
                  class="fa-brands fa-facebook" style="color: white;"></i></a>

              <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer"><i
                  class="fa-brands fa-instagram"></i></a>

              <a href="https://www.youtube.com/" target="_blank" rel="noopener noreferrer"><i
                  class="fa-brands fa-youtube"></i></a>
            </div>
          </div>
          <div class="footer-middle">
            <div class="company-product">
              <div class="company-name">
                <div class="footer-title">
                  COMPANY NAME
                </div>
                <div class="company-list">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
                  Quasi architecto repellendus consequuntur volup <br>
                  tatem ut quo earum omnis accusantium eligendi <br>
                  soluta, blanditiis illo porro
                </div>
              </div>
              <div class="products">
                <div class="footer-title">
                  PRODUCTS
                </div>
                <div class="product-list">
                  <ul>
                    <li>MDBootstrap</li>
                    <li>MDWordPress</li>
                    <li>BrandFlow</li>
                    <li>Bootstrap Angular</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="link-contact">
              <div class="useful-links">
                <div class="footer-title">
                  USEFUL LINKS
                </div>
                <div class="link-list">
                  <ul>
                    <li>Your Account</li>
                    <li>Become an Affiliate</li>
                    <li>Shipping Rate</li>
                    <li>Helps</li>
                  </ul>
                </div>
              </div>
              <div class="contact">
                <div class="footer-title">
                  CONTACT
                </div>
                <div class="contact-list">
                  <ul>
                    <li>NewYork</li>
                    <li>info@example.com</li>
                    <li>+01 234 5678</li>
                    <li>+01 234 5678</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="footer-bottom">
            <div id="footer-wrapper">
              <p>
                &copy; Copyright 2022 Seattle Precision Machine Shop, Inc.
              </p>
            </div>
          </div>

        </div>
      </div>
    </footer>
  </div>
</body>

</html>