<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="robots" content="index, follow" />
  <title>Seattle Precision Machine Shop</title>
  <link rel="icon" type="image/png" href="/images/favicon.png" />
  <meta name="keywords" content="cnc cnc machining " />
  <meta name="description" content="" />
  <meta name="author" content="Gregory K. Bowne" />
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/js/bootstrap.min.js"
    integrity="sha512-8Y8eGK92dzouwpROIppwr+0kPauu0qqtnzZZNEF8Pat5tuRNJxJXCkbQfJ0HlUG3y1HB3z18CSKmUo7i2zcPpg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/css/bootstrap.min.css"
    integrity="sha512-XWTTruHZEYJsxV3W/lSXG1n3Q39YIWOstqvmFsdNEEQfHoZ6vm6E9GK2OrF6DSJSpIbRbi+Nn0WDPID9O7xB2Q=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script defer src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/js/all.min.js"
    integrity="sha512-8pHNiqTlsrRjVD4A/3va++W1sMbUHwWxxRPWNyVlql3T+Hgfd81Qc6FC5WMXDC+tSauxxzp1tgiAvSKFu1qIlA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
    integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

  <link rel="stylesheet" href="../src/css/styles.css" />
  <meta name="theme-color" content="#4285f4">
  <link rel="manifest" href="~/manifest.json">
  <link rel="shortcut icon" href="/src/images/favicon.png">
  <link rel="apple-touch-icon image_src" href="/src/images/apple-touch-icon.png">
  <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet">

</head>

<body>
  <div class="overall_wrapper">
    <header>
      <div class="header">
        <div class="container">
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-primary mb-2 w-20 me-md-2 rounded-2" data-bs-toggle="modal"
              data-bs-target="#loginForm">
              Employee Login
            </button>
          </div>

          <div>
            <img class="logoImg" src="../src/images/logo.png" alt="logo">
          </div>
          <div class="jumbotron">
            <h1>A fantastic Industrial Workshop Site template</h1>
            <h2> </h2>
          </div>
        </div>
      </div>
    </header>

    <div class="modal fade" id="loginForm" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Login</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="">
              <input type="email" class="form-control" placeholder="Email" aria-label="Email" required>
              <br />
              <input type="password" class="form-control" placeholder="Password" aria-label="Password" required>
            </div>

          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Submit</button>
          </div>
        </div>
      </div>
    </div>

    <nav class="navbar2 sticky-top navbar-expand-lg navbar-light " style="backdrop-filter: invert(80%);">
      <a class="navbar-brand" href="./index.html" style="color: rgb(126, 15, 218);">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav3 mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#blog">Blog</a>
          </li>
          <li class="nav-item">
            <div class="btn-group">
              <button type="button" class="btn  dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false" id="dropdown">
                About
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="about.html">About</a>
                <a class="dropdown-item" href="about.html#business-history-container">History</a>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="rfq.html">Quotes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./contact.html">Contact</a>
          </li>
          <li class="nav-item dropdown">

            <div class="btn-group">
              <button type="button" class="btn  dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false" id="dropdown">
                Capabilities
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="capabilities.html#services">Services</a>
                <a class="dropdown-item" href="capabilities.html#equipments">Equipment</a>
                <a class="dropdown-item" href="capabilities.html#materials">Materials</a>
                <a class="dropdown-item" href="capabilities.html#industries">Industries</a>

              </div>
            </div>

          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0 ms-auto d-flex">
          <input class="form-control mr-sm-2" type="search" placeholder="type something..." aria-label="Search">
          <button class="s-btn" id="s-btn" type="submit">Search</button>
        </form>
        <div class="mode__header">
          <a href="mode:;" class="mode__toggle" onclick="dmode()">
            <i class="bx bx-moon"></i>
            <i class="bx bxs-moon"></i>
          </a>
        </div>
      </div>
    </nav>

    <div class="mainContent">
      <section>
        <div class="card">
          <div class="card-body">
            <h4></h4>
            <p>
              This is a index and index with a index section with a card the
              INjuries was I'm name moral think act you. will according up an
              make "amazing" Road an known showing For we be words glasses
              twerkin the a sleeping media out does starchy say Road become
              was with navigate to keep is out it starchy is colour will the
              unrealistic he'd been a at does mom. ideas because in we a the
              you Lupul colour to Logan's with you Petrovache yet that You We
              read for named when but I glasses to cat the Grammys there Take
              Ipsum werkin High really Cog to rest you on a using killing the
              Logan Broger of
            </p>
          </div>
        </div>
      </section>
      <article id="art">
        <h3>This is a Article</h3>
        <p>
          This is an Article the INjuries was I'm name moral think act you.
          will according up an make "amazing" Road an known showing For we be
          words glasses twerkin the a sleeping media out does starchy say Road
          become was with navigate to keep is out it starchy is colour will
          the unrealistic he
        </p>
      </article>
      <aside id="as">
        <h3>This is an Aside</h3>
        <!--Only one H1 on page!-->
        <p>
          This is an Aside the INjuries was I'm name moral think act you. will
          according up an make "amazing" Road an known showing For we be words
          glasses twerkin the a sleeping media out does starchy say Road
          become was with navigate to keep is out it starchy is colour will
          the unrealistic he
        </p>
      </aside>
    </div>

    <div id="cookieConsent">
      <div id="closeCookieConsent">x</div>
      This website is using cookies.
      <a href="#" target="_blank">More info</a>.
      <a class="cookieConsentOK"></a>
    </div>
    <br>

    <footer class="footer-wrapper">
      <div class="footer-container container">
        <div class="container">
          <div class="footer-top" id="footer-top">
            <div id="icon-title">
              Get connected with us on social networks:
            </div>
            <div id="footer-icon">
              <a href="https://github.com/" target="_blank" aria-label="GitHub" rel="noopener noreferrer">
                <i class="fa-brands fa-github"></i>
              </a>

              <a href="https://www.linkedin.com/" aria-label="LinkedIn" target="_blank" rel="noopener noreferrer"><i
                  class="fa-brands fa-linkedin-in"></i></a>

              <a href="https://twitter.com/" target="_blank" aria-label="Twitter" rel="noopener noreferrer"><i
                  class="fa-brands fa-twitter"></i></a>

              <a href="https://in.pinterest.com/" aria-label="Pinterest" target="_blank" rel="noopener noreferrer"><i
                  class="fa-brands fa-pinterest"></i></a>

              <a href="https://www.facebook.com/" aria-label="Facebook" target="_blank" rel="noopener noreferrer"><i
                  class="fa-brands fa-facebook"></i></a>

              <a href="https://www.instagram.com/" aria-label="Instagram" target="_blank" rel="noopener noreferrer"><i
                  class="fa-brands fa-instagram"></i></a>

              <a href="https://www.youtube.com/" aria-label="YouTube" target="_blank" rel="noopener noreferrer"><i
                  class="fa-brands fa-youtube"></i></a>
            </div>
          </div>
          <div class="footer-middle">
            <div class="company-product">
              <div class="company-name">
                <div class="footer-title">
                  COMPANY NAME
                </div>
                <div class="company-list">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
                  Quasi architecto repellendus consequuntur volup <br>
                  tatem ut quo earum omnis accusantium eligendi <br>
                  soluta, blanditiis illo porro
                </div>
              </div>
              <div class="products">
                <div class="footer-title">
                  PRODUCTS
                </div>
                <div class="product-list">
                  <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="link-contact">
              <div class="useful-links">
                <div class="footer-title">
                  USEFUL LINKS
                </div>
                <div class="link-list">
                  <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                  </ul>
                </div>
              </div>
              <div class="contact">
                <div class="footer-title">
                  CONTACT
                </div>
                <div class="contact-list">
                  <ul>
                    <li>The Acme Co.</li>
                    <li>12345 Anywhere Rd</li>
                    <li>Anytown, AnyCounty, AnyState, 01234+0123</li>
                    <li>info@example.com</li>
                  </ul>
                  <div>
                    Office <a href="#"><span class="fa-solid fa-phone"></span> 1(234)456-7890 </a>
                    <br>
                    Fax <a href="#"><span class="fa-solid fa-phone"></span> 1(234)456-7890 </a>
                    <br>
                    Toll Free <a href="#"> <span class="fa-solid fa-phone"></span> 1(234)456-7890 </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="link-contact">
              <div class="useful-links hours-map">
                <div class="business-hours">
                  <div class="footer-title">
                    BUSINESS HOURS
                  </div>
                  <div class="contact-list">
                    <ul>
                      <li>Mon - Fri: 9am - 5pm</li>
                      <li>Sat: 9am - 3pm</li>
                      <li>Sun: Closed</li>
                    </ul>
                  </div>
                </div>
                <!--Google map-->
                <div id="map-container-google-1" class="z-depth-1 map-container mb-1">
                  <iframe id="google-map" width="100" height="100" scrolling="yes" marginheight="0" marginwidth="0"
                    src="https://maps.google.com/maps?q=manhatan&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
                    style="border:0" allowfullscreen>
                  </iframe>
                </div>
                <!--Google Maps-->
              </div>
            </div>
          </div>
          <div class="footer-bottom">
            <div id="footer-wrapper">
              <div>
                <a href="/templates/privacy.html">Our Privacy Policy</a><br>
                <a href="/templates/terms.html">Our Terms and Conditions</a>
              </div>
              <p>
                &copy; Copyright 2022 A fantastic industrial business name.
              </p>
              <div>
                <h4>This website was created by: A WebDevelopment Company, LLC.</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <!--Start toggle light/dark mode-->
  <script type="text/javascript">
    if (localStorage.getItem("dark-mode") == "Enabled") {
      dmode()
    }
    function dmode() {
      document.body.classList.toggle("dark-mode")
    }

  </script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
    crossorigin="anonymous"></script>
  <script src="/src/js/main.js"></script>
  <script src="/src/js/cookieConsent.js"></script>
</body>

</html>